{% extends 'base_layout.html' %}


{% block content %}
<br>
<br>
<br>
<br>
<br>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body style="background-color: #d0eaf2; color: #1f4070;">
    <h1>Created by Anurag Tiwari, Tamanna Vats, Asmita Kharat, Rashi Lad</h1>
    <pre><span class="about-content" style="font-size: 18px;">
      Buy Best is a website that uses webscraping code written 
      in Python to compare the prices of grocery products across 
      the India's leading online grocery marts.
    </span></pre>
  </body>
{% endblock %}
